<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.demo.multidata.mapper.second.VehicleMapper">

	<select id="queryCount" resultType="int">
		select count(id) from pub_vehicle t where t.status ='1'
	</select>

</mapper>